# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Salida de compilación
dist/
build/

# Archivos de entorno
.env
.env.*

# Archivos de configuración sensibles o temporales
*.local
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Archivos de base de datos y dumps
dump.rdb
*.sqlite
*.db

# Archivos de logs
logs/
*.log

# Archivos de Docker
*.pid
*.seed

# Archivos de cobertura de tests
coverage/
.nyc_output/

# Archivos de configuración de IDEs y editores
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Otros archivos temporales
*.swp
*.tmp

# Archivos de salida de herramientas
*.tgz

# Ignorar archivos de configuración de Sentry
sentry.properties

# Ignorar archivos de configuración de servicios externos
keys.txt

# Ignorar archivos de configuración de Docker Compose
*.override.yml

