# === DATABASE ===
# === QA ===
# DATABASE_URL=postgresql://usuario:clave123@postgres:5432/db_cocinando
POSTGRES_HOST=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
POSTGRES_DB=db_cocinando
POSTGRES_PORT=5432
#DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
# POSTGRES_HOST=127.0.0.1

# === PROD (comenta QA y descomenta PROD para producción) ===
# DATABASE_URL=postgresql://usuario:clave123@postgres:5432/db_cocinando
# POSTGRES_HOST=10.128.0.2
# POSTGRES_PORT=5432
# POSTGRES_DB=db_cocinando
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1

# === REDIS ===
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1

# ===================== JWT ===================== #
JWT_SECRET=']l?w"|4?]1|;41t,`s[lwB>|5^oM5f%J.},"kX4eynb@Z%)|SGSS?*#R5:*nZkE'
JWT_EXPIRES=3d

# ===================== API APP ================== #
PORT=3002
HOST=localhost
NODE_ENV=development
# NODE_ENV=prod

# ===================== SENTRY ===================== #
SENTRY_DSN=https://d60152359f1179b0ded1164517ffe97a@o4509459901251584.ingest.us.sentry.io/4509459903414272




## === PGADMIN ===
#PGADMIN_PORT=5050
#PGADMIN_DEFAULT_EMAIL=dev@admin.com
#PGADMIN_DEFAULT_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
#
## === RABBITMQ ===
#RABBITMQ_USER=dev_user
#RABBITMQ_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
#RABBITMQ_AMQP_PORT=5672
#RABBITMQ_HTTP_PORT=15672
#RABBITMQ_URI=amqp://dev_user:2go9fanFPSWCLXGu5JyMmeAMSem1@rabbitmq:5672
#
## === MINIO ===
#MINIO_ACCESS_KEY=minio_dev
#MINIO_SECRET_KEY=2go9fanFPSWCLXGu5JyMmeAMSem1
#MINIO_API_PORT=9000
#MINIO_CONSOLE_PORT=9001
#
#
## === GRAFANA ===
#GRAFANA_PORT=3010
#GF_SECURITY_ADMIN_USER=admin
#GF_SECURITY_ADMIN_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
## === PROMETHEUS ===
#PROMETHEUS_PORT=9090
#
## === MONGODB ===
#MONGO_PORT=27017
#MONGO_USER=mongodev
#MONGO_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
#
## === MONGO express ===
#MONGO_EXPRESS_PORT=8081
#MONGO_EXPRESS_USER=express
#MONGO_EXPRESS_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
#
## === NATS ===
#NATS_CLIENT_PORT=4222
#NATS_MONITOR_PORT=8222
#NATS_ROUTE_PORT=6222
#NATS_USER=natsdev
#NATS_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
#NATS_URI=nats://natsdev:2go9fanFPSWCLXGu5JyMmeAMSem1@nats:4222
#
## === MQTT ===
#MQTT_PORT=1883
#MQTT_WS_PORT=9002
#
## === KAFKA ===
#KAFKA_INTERNAL_PORT=29092
#KAFKA_EXTERNAL_PORT=9092
#KAFKA_BROKER=kafka:29092
#REDPANDA_CONSOLE_PORT=8082
#
## Zookeeper
#ZOOKEEPER_PORT=2181
#ZOOKEEPER_CLIENT_PORT=2181
#ZOOKEEPER_TICK_TIME=2000
#
## === ELASTICSEARCH ===
#ELASTICSEARCH_PORT=9200
#ELASTICSEARCH_HOST=elasticsearch
#ELASTICSEARCH_URL=http://elasticsearch:9200
#ELASTIC_USERNAME=user_elastic
#ELASTIC_PASSWORD=2go9fanFPSWCLXGu5JyMmeAMSem1
## === KIBANA ===
#KIBANA_PORT=5601
#
#
## SSL
#APP_DOMAIN=api.misitio.com
#LETSENCRYPT_EMAIL=example@outlook.com